/* Navgation */
#navbar{
    flex-direction: column;
}
/* Home section */
#home{
    height: 430px;
    padding: 4px 36px;
}
#home::before{
    height: 533px;
}
#home p{
    font-size: 13px;
}
/* Services section */
#services {
    flex-direction: column;
    
}
#services .box{
    padding: 14px;
    margin: 2px 2px;

}



/* Client section  */
#clients{
    flex-wrap: wrap;
}
/* Contact us section  */
#contact-box form{
    width: 80%;
}
/* Footer  */

/* Utility classes  */
.h-primary{
    font-size: 26px;
}